---
import DogsGrid from '../../components/DogsGrid.astro'
import Title from '../../components/Title.astro'
import Layout from '../../layouts/Layout.astro'
---

<Layout
  title="Huellitas Felices | Mascotas"
  desc="Conoce a a los perritos que están en adopción en Huellitas Felices"
>
  <Title text="Listado de Perros" />

  <section class="flex justify-center gap-x-5">
    <div>
      <p class="font-extrabold text-hf hover:cursor-pointer">Perros</p>
      <div
        transition:name="category-pets"
        class="border-b-2 border-hf hover:cursor-pointer"
      >
      </div>
    </div>

    <span>/</span>
    <a href="/pets/cats" class="font-extrabold text-hf-1">Gatos</a>
  </section>

  <DogsGrid />
</Layout>
