---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
---

<Layout
  title="Huellitas Felices | Inicio"
  desc="Huellitas Felices es una organización sin fines de lucro que se dedica a rescatar, rehabilitar y dar en adopción a perros y gatos en situación de calle."
>
	<Hero />
	<section class="mx-auto max-w-5xl flex gap-5 items-center mt-10">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem repellendus molestias fugiat deserunt dignissimos soluta laudantium recusandae molestiae ipsam numquam quia odit illum in repellat perferendis, iste, at nulla qui impedit asperiores dicta iure non pariatur. Fugit eligendi cum magnam itaque alias dignissimos molestiae laboriosam, facilis in mollitia. Rem, dolorem.
    </p>

    <Image
      src="https://res.cloudinary.com/di85cn64g/image/upload/v1710812740/WhatsApp_Image_2024-03-17_at_7.36.37_PM-Photoroom.png-Photoroom_1_ezxsfy.png"
      alt="Logo de Huellitas Felices"
      transition:name="logo-about-us"
      width={300}
      height={300}
    >
  </section>

  <section class="mx-auto max-w-5xl flex gap-5 justify-around items-center">
    <div class="w-40 h-60 bg-purple-500 rounded-xl -rotate-6">

    </div>

    <div class="w-40 h-60 bg-yellow-500 rounded-xl -rotate-45">

    </div>

    <div class="w-40 h-60 bg-sky-500 rounded-xl rotate-6">

    </div>

    <div class="w-40 h-60 bg-red-500 rounded-xl rotate-45">

    </div>

    <div class="w-40 h-60 bg-green-500 rounded-xl -rotate-12">

    </div>

    <div class="w-40 h-60 bg-cyan-500 rounded-xl -rotate-6">

    </div>
  </section>
</Layout>
