---
import Title from '../components/Title.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout
  title="Huellitas Felices | Inicio"
  desc="Cronograma de Actividades desarrollada y programada por el equipo de Huellitas Felices."
>
  <Title text="Cronograma de Actividades - Huellitas Felices" />

  <article
    class="mx-auto mb-20 w-[350px] animate-fade-down space-y-5 animate-duration-[1000ms] md:w-[700px] lg:w-auto lg:max-w-7xl"
  >
    <p class="mx-auto max-w-4xl text-center text-gray-700 lg:text-start">
      El abandono de mascotas en Colombia, especialmente en Barranquilla, es un
      problema grave que afecta a millones de animales. Según datos del Congreso
      de la República y la Alcaldía de Barranquilla, hay aproximadamente 3
      millones de perros y gatos viviendo en condiciones de abandono en todo el
      país, con más de 70 mil perros y 30 mil gatos en Barranquilla. Esto
      conlleva a problemas de salud, alimentación y reproducción descontrolada,
      además de impactar negativamente en el ámbito sanitario, medioambiental,
      social y de maltrato animal.
    </p>
    <p class="mx-auto max-w-4xl text-center text-gray-700 lg:text-start">
      El abandono de animales de compañía está considerado como maltrato animal
      y conlleva sanciones económicas significativas según la ley 1774 del 2016.
      Ante casos de maltrato animal, existen líneas de denuncia habilitadas y
      patrullas vehiculares de animales en Barranquilla, junto con la Sociedad
      Protectora de Animales en la ciudad, que ofrece apoyo las 24 horas del
      día.
    </p>
    <p class="mx-auto max-w-4xl text-center text-gray-700 lg:text-start">
      A pesar de los esfuerzos legales y de concienciación, la problemática del
      abandono de animales en Barranquilla persiste. Sin embargo, la Fundación
      Colitas Callejeras se destaca como un faro de esperanza, comprometida con
      el bienestar de los animales abandonados. La fundación no solo rescata a
      estos animales, sino que también les proporciona atención veterinaria,
      rehabilitación física y emocional, y busca hogares permanentes donde
      puedan ser amados y cuidados como miembros de la familia.
    </p>
  </article>

  <article
    class="mx-auto w-[400px] animate-fade-down animate-duration-[1000ms] md:w-[700px] lg:w-auto lg:max-w-7xl"
  >
    <div class="overflow-x-scroll rounded-lg shadow-lg lg:overflow-hidden">
      <table class="w-full text-left">
        <thead class="bg-hf text-lg font-bold uppercase text-white">
          <tr class="sticky top-0 mt-40">
            <th scope="col" class="px-6 py-3 text-center">Contenido</th>
            <th scope="col" class="px-6 py-3 text-center">Actividades</th>
            <th scope="col" class="px-6 py-3 text-center">Fecha</th>
            <th scope="col" class="px-6 py-3 text-center">Asistentes</th>
            <th scope="col" class="px-6 py-3 text-center">Objetivo</th>
          </tr>
        </thead>

        <tbody>
          <tr class="border-b bg-zinc-100">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900">
              Creación de contenido en la página de Instagram Huellitas Felices,
              dónde se explica la importancia de la adopción responsable
            </th>

            <td class="space-y-2 px-6 py-4 text-gray-900">
              <p>
                Se hará la apertura de la nueva página web donde se Realizarán
                reels y fotos de la fundación con el fin de concientizar a los
                seguidores sobre la adopción responsable.
              </p>
              <p>Duración: 1 post por semana.</p>
            </td>

            <td class="space-y-2 px-6 py-4 text-gray-900">
              <p>Viernes 19 de abril de 2024</p>
              <p>Hora: 1:00 pm</p>
            </td>

            <td class="space-y-2 px-6 py-4 text-gray-900">
              <p>Roberto Altamar</p>
              <p>Kiara Cervantes</p>
              <p>María Guzmán</p>
            </td>

            <td class="px-6 py-4 text-gray-900">
              En esta actividad estaremos realizando semanalmente un reel donde
              evidenciemos la cantidad de animales que están en esta fundación
              los cuales no tienen hogar , la idea es que con estos reels
              podamos hacer llegar el mensaje por Instagram y por la nueva
              página web a más personas sobre la concientización y el cuidado
              hacia los animales.
            </td>
          </tr>

          <tr class="border-b bg-white">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900">
              Charla interactiva sobre la problemática del maltrato animal en el
              parque Venezuela específicamente en el barrio Tabor
            </th>

            <td class="space-y-2 px-6 py-4 text-gray-900">
              <p>
                Presentación de casos reales y testimonios de animales
                rescatados.
              </p>

              <p>
                Socialización de líneas de atención para denunciar casos de
                maltrato.
              </p>

              <p>Duracion: 2 Horas.</p>
            </td>

            <td class="space-y-2 px-6 py-4 text-gray-900">
              <p>Domingo 1 de abril de 2024</p>
              <p>Hora: 2:30 pm</p>
            </td>

            <td class="space-y-2 px-6 py-4 text-gray-900">
              <p>Roberto Altamar</p>
              <p>Kiara Cervantes</p>
              <p>María Guzmán</p>
            </td>

            <td class="px-6 py-4 text-gray-900">
              El propósito central de esta actividad es crear conciencia y
              promover la acción contra el maltrato animal en el barrio Tabor,
              específicamente en el Parque Venezuela. A través de una charla
              interactiva, se pretende informar a los residentes sobre la
              seriedad y las diversas formas de maltrato que enfrentan los
              animales en su entorno. Mediante la presentación de casos reales y
              testimonios de animales rescatados, se busca generar empatía y
              comprensión hacia la difícil situación de estos seres vulnerables.
            </td>
          </tr>

          <tr class="border-b bg-zinc-100">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900">
              Incremento de la Adopción Responsable
            </th>

            <td class="px-6 py-4 text-gray-900">
              Creación de un catálogo digital de perros y gatos, con la
              descripción de cada animalito disponibles para adopción
            </td>

            <td class="space-y-2 px-6 py-4 text-gray-900">
              <p>Viernes 26 de abril de 2024</p>
              <p>Hora: 1:30 pm</p>
            </td>

            <td class="space-y-2 px-6 py-4 text-gray-900">
              <p>Roberto Altamar</p>
              <p>Kiara Cervantes</p>
              <p>María Guzmán</p>
            </td>

            <td class="px-6 py-4 text-gray-900">
              Esta actividad tiene como objetivo facilitar y promover la
              adopción responsable de mascotas mediante la creación de un
              catálogo digital. Este catálogo proporcionará a las personas
              interesadas en adoptar una amplia gama de información sobre los
              perros y gatos disponibles para adopción, incluyendo detalles
              sobre su personalidad, necesidades especiales y requisitos de
              cuidado. Al hacer que esta información esté fácilmente accesible
              en línea, se espera aumentar las posibilidades de encontrar
              hogares para los animales necesitados, fomentando así una mayor
              adopción responsable y contribuyendo a reducir la población de
              mascotas en refugios y calles.
            </td>
          </tr>

          <tr class="border-b bg-white">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900">
              Material Educativo sobre Esterilización y Adopción
            </th>

            <td class="space-y-3 px-6 py-4 text-gray-900">
              <p>
                • Entrega de 50 folletos informativos sobre esterilización y
                adopción responsable.
              </p>
              <p>
                • Charla educativa sobre los beneficios de la esterilización.
              </p>
              <p>
                • Explicación de los servicios ofrecidos por la fundación
                Huellitas Felices.
              </p>
              <p>
                • Sesión de preguntas y respuestas para aclarar dudas sobre los
                temas tratados.
              </p>
            </td>

            <td class="space-y-2 px-6 py-4 text-gray-900"></td>

            <td class="space-y-2 px-6 py-4 text-gray-900">
              <p>Roberto Altamar</p>
              <p>Kiara Cervantes</p>
              <p>María Guzmán</p>
            </td>

            <td class="px-6 py-4 text-gray-900">
              El propósito principal de esta actividad es educar a la comunidad
              sobre la importancia de la esterilización y la adopción
              responsable de mascotas. Se busca lograr esto a través de la
              entrega de 50 folletos informativos que detallan los beneficios de
              la esterilización y los pasos a seguir para adoptar de manera
              responsable. Además, se llevará a cabo una charla educativa para
              profundizar en los beneficios de la esterilización, destacando su
              papel en el control de la población animal y la prevención de
              enfermedades. La explicación de los servicios ofrecidos por la
              fundación Huellitas Felices ayudará a los participantes a
              comprender cómo pueden acceder a recursos y apoyo para esterilizar
              a sus mascotas o para adoptar una. Finalmente, la sesión de
              preguntas y respuestas permitirá aclarar cualquier duda o
              inquietud que la comunidad pueda tener sobre estos temas,
              fomentando así una mayor comprensión y compromiso con la
              esterilización y la adopción responsable. En resumen, el objetivo
              es proporcionar información y recursos que empoderen a la
              comunidad para tomar decisiones informadas y éticas en relación
              con sus mascotas.
            </td>
          </tr>

          <tr class="border-b bg-zinc-100">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900">
              Proyección de videos interactivos y reels sobre la labor de la
              fundación, para persuadir las personas adopten y no compren
            </th>

            <td class="px-6 py-4 text-gray-900">
              La proyección de videos interactivos y reels sobre la labor de la
              fundación tiene como objetivo principal persuadir a las personas
              para que elijan adoptar en lugar de comprar mascotas.
            </td>

            <td class="space-y-2 px-6 py-4 text-gray-900">
              <p>Domingo 28 de abril de 2024</p>
              <p>Hora: 3:00 pm</p>
            </td>

            <td class="space-y-2 px-6 py-4 text-gray-900">
              <p>Roberto Altamar</p>
              <p>Kiara Cervantes</p>
              <p>María Guzmán</p>
            </td>

            <td class="px-6 py-4 text-gray-900">
              El propósito principal de la actividad de proyección de videos
              interactivos y reels sobre la labor de la fundación es persuadir a
              las personas para que opten por la adopción en lugar de la compra
              de mascotas. Esto se logra mostrando de manera impactante y
              emocional el trabajo de la fundación Huellitas Felices, resaltando
              historias conmovedoras de rescate, rehabilitación y adopción
              exitosa de animales. Al visualizar el impacto positivo que la
              fundación tiene en la vida de las mascotas y en la comunidad, se
              busca sensibilizar a los espectadores sobre la importancia de
              salvar vidas y brindar segundas oportunidades a animales
              abandonados.
            </td>
          </tr>

          <tr class="border-b bg-white">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900">
              Invitación a las personas del barrio Tabor seguir apoyando la
              causa de la Fundación sobre lo que hace esta fundación.
            </th>

            <td class="space-y-3 px-6 py-4 text-gray-900">
              La finalidad de esta invitación es mantener y fortalecer el apoyo
              de la comunidad del barrio Tabor hacia la Fundación Huellitas
              Felices y su importante labor en pro del bienestar animal.
            </td>

            <td class="space-y-2 px-6 py-4 text-gray-900">
              <p>Viernes 3 de mayo de 2024</p>
              <p>Hora 1:30 pm</p>
            </td>

            <td class="space-y-2 px-6 py-4 text-gray-900">
              <p>Roberto Altamar</p>
              <p>Kiara Cervantes</p>
              <p>María Guzmán</p>
            </td>

            <td class="px-6 py-4 text-gray-900">
              El objetivo principal es mantener y fortalecer el vínculo entre la
              comunidad del barrio Tabor y la Fundación Huellitas Felices,
              buscando consolidar una red de apoyo sólida y comprometida con la
              causa del bienestar animal. Esto implica reforzar el sentido de
              pertenencia de los residentes hacia la fundación, así como
              fomentar una mayor participación activa y colaboración en las
              actividades y proyectos que se desarrollan en beneficio de los
              animales necesitados. Además, se busca inspirar un mayor
              compromiso y conciencia sobre la importancia de la adopción
              responsable, la esterilización y otras prácticas que contribuyan
              al cuidado y protección de los animales en la comunidad. En
              resumen, el objetivo es construir una comunidad unida y
              comprometida en la defensa y promoción del bienestar animal en el
              barrio Tabor.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </article>
</Layout>
