<section class="mx-auto max-w-5xl grid grid-cols-3 gap-2">
  <div class="row-span-2 shadow-lg rounded-lg p-4 animate-fade-down animate-duration-[1000ms]">
    <h3 class="text-2xl text-center text-hf font-bold mb-2">Visión</h3>
    <p class="text-center">
      En Huellitas Felices visualizamos un futuro donde cada animal callejero, ya sea un perro o un gato, encuentre un refugio seguro y amoroso. Nos vemos como una organización que cuida de estos animales vulnerables, trabajando incansablemente para erradicar el sufrimiento y la indiferencia hacia su bienestar. Nuestra visión abarca un cambio cultural profundo, donde la sociedad reconozca el valor intrínseco de cada huellita y se comprometa activamente a proteger y promover su vida digna. En este mundo visionario, la adopción responsable es la norma, la esterilización es una práctica común y el respeto por todas las formas de vida animal es parte integral de nuestra identidad como comunidad. Huellitas Felices aspira a ser un faro de esperanza y compasión, inspirando a otros a unirse a nuestra causa y construir juntos un futuro donde cada huellita pueda ser verdaderamente feliz.
    </p>
  </div>

  <div class="row-span-1 shadow-lg rounded-lg p-4 animate-fade-down animate-duration-[1000ms]">
    <h3 class="text-2xl text-center text-hf font-bold mb-2">Misión</h3>
    <p class="text-center">
      Nuestra misión es rescatar, cuidar y encontrar hogares responsables para perros y gatos callejeros. Nos comprometemos a brindarles atención médica, alimentación adecuada y mucho cariño mientras les buscamos un nuevo hogar donde puedan vivir felices y sin miedo. Además, educamos a la comunidad sobre la tenencia responsable de mascotas y la importancia de esterilizar para controlar la población callejera y reducir el sufrimiento animal. Trabajamos para crear conciencia y promover un cambio positivo en la forma en que tratamos a nuestros compañeros animales.
    </p>
  </div>

  <div class="row-span-1 shadow-lg rounded-lg p-3 animate-fade-down animate-duration-[1000ms]">
    <img
      src="https://res.cloudinary.com/di85cn64g/image/upload/v1710812740/WhatsApp_Image_2024-03-17_at_7.36.37_PM-Photoroom.png-Photoroom_1_ezxsfy.png"
      alt="Logo de Huellitas Felices"
      transition:name="logo-about-us"
    >
  </div>

  <div class="col-span-2 shadow-lg rounded-lg p-4 animate-fade-down animate-duration-[1000ms]">
    <h3 class="text-2xl text-center text-hf font-bold mb-2">Huellitas Felices</h3>
    <p class="text-center">
      Somos Huellitas Felices, una fundación comprometida con el rescate, cuidado y adopción de animales callejeros, especialmente perros y gatos. Nos dedicamos a brindarles atención médica, alimentación adecuada y mucho cariño mientras les buscamos un hogar seguro y amoroso. Además, contamos con un programa de padrinos que colaboran económicamente para cubrir los gastos asociados con el cuidado de nuestros peludos amigos, permitiéndonos seguir salvando vidas y garantizando el bienestar de cada animal rescatado. Juntos, trabajamos para construir un mundo donde todas las huellitas puedan ser felices y vivir sin miedo ni sufrimiento.
    </p>
  </div>

</section>
