---
import { Image } from 'astro:assets'
---

<article class="relative">
  <section class="bg-black">
    <Image
      src="https://res.cloudinary.com/di85cn64g/image/upload/v1710812770/df8308d6-3a69-4a38-aeb5-3e81dd75a03f_pbz3gr.jpg"
      alt="Imagen Hero"
      class="h-[650px] min-h-screen w-full object-cover brightness-50 filter"
      width={1920}
      height={1080}
    />
  </section>

  <section
    class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform"
  >
    <h2
      class="animate-jump-in text-center text-5xl font-extrabold text-hf animate-duration-500 lg:text-6xl"
    >
      ¡Bienvenido Huellitas Felices!
    </h2>

    <p
      class="mt-2 animate-jump-in text-center text-lg text-white animate-delay-[500ms] animate-duration-500 lg:text-xl"
    >
      Encuentra o ayuda a tu compañero de cuatro patas.
    </p>
  </section>
</article>
