---
interface Props {
  text: string
  className?: string
}

const { text, className } = Astro.props
---

<h2
  class={`mx-auto max-w-5xl text-4xl text-hf font-extrabold animate-fade-down animate-duration-[600ms] text-center lg:text-start mb-5 mt-20 lg:mt-36 ${className}`}
>
  {text}
</h2>
