---
import { Image } from 'astro:assets'
import HamburgerNav from '../components/react/HamburgerNav'
import NavItems from './react/NavItems'
---

<header
  class="fixed left-0 top-0 z-50 flex w-full items-center justify-between bg-white px-5 py-2 shadow lg:justify-around lg:px-10"
>
  <section>
    <a href="/" class="flex items-center gap-2">
      <Image
        src="https://res.cloudinary.com/di85cn64g/image/upload/v1710812893/Logo_sin_nombre_ogjfcx.png"
        alt="Logo de Huellitas Felices"
        class="w-12 object-cover"
        width={48}
        height={48}
      />
      <h1 class="font-bold">
        <span class="text-hf">Huellitas</span> Felices
      </h1>
    </a>
  </section>

  <NavItems client:only="react" />
  <HamburgerNav client:only="react" />
</header>
