---
import NavItems from './react/NavItems'
---

<header
  class="w-full flex justify-between items-center bg-white shadow px-10 py-2 fixed top-0 left-0 z-50"
>
  <section>
    <a href="/" class="flex items-center gap-2">
      <img
        src="https://res.cloudinary.com/di85cn64g/image/upload/v1710812893/Logo_sin_nombre_ogjfcx.png"
        alt="Logo de Huellitas Felices"
        class="w-12 object-cover"
      />
      <h1 class="font-bold">
        <span class="text-hf">Huellitas</span> Felices
      </h1>
    </a>
  </section>

  <NavItems client:only />
</header>
